platforms/gravcms/cache
platforms/gravcms/logs
platforms/gravcms/user
platforms/drupal-8/sites/default
platforms/wordpress/wp-content/uploads
platforms/classicpress/wp-content/uploads
platforms/gitlist/cache/*